In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r'C:\Users\Akash Choudhary\Desktop\Interview Preparation\Projects\Time Series Project ( Stock Market case-study )\Data\individual_stocks_5yr\A_data.csv')

In [3]:
df.head()

         date   open   high    low  close   volume Name
0  2013-02-08  45.07  45.35  45.00  45.08  1824755    A
1  2013-02-11  45.17  45.18  44.45  44.60  2915405    A
2  2013-02-12  44.81  44.95  44.50  44.62  2373731    A
3  2013-02-13  44.81  45.24  44.68  44.75  2052338    A
4  2013-02-14  44.72  44.78  44.36  44.58  3826245    A

In [4]:
df.shape

(1259, 7)

In [5]:
df['high'].max()

75.0

In [6]:
df[df['high']==75]

            date   open  high   low  close   volume Name
1251  2018-01-29  74.48  75.0  74.3  74.53  1321854    A

In [7]:
df.describe()

              open         high          low        close        volume
count  1259.000000  1259.000000  1259.000000  1259.000000  1.259000e+03
mean     49.187863    49.600059    48.782026    49.202025  2.338039e+06
std       9.244798     9.264168     9.197698     9.229804  1.400161e+06
min      33.180000    34.060000    33.115000    33.370000  5.328630e+05
25%      41.515000    41.870000    41.260000    41.560000  1.533018e+06
50%      46.640000    47.000000    46.341000    46.700000  2.003109e+06
75%      56.435000    56.935000    56.025000    56.495000  2.718401e+06
max      74.480000    75.000000    74.300000    74.820000  1.814641e+07

In [9]:
df.corr()

C:\Users\Akash Choudhary\AppData\Local\Temp\ipykernel_10120\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            open      high       low     close    volume
open    1.000000  0.999280  0.999188  0.998218 -0.193800
high    0.999280  1.000000  0.999100  0.999170 -0.182811
low     0.999188  0.999100  1.000000  0.999283 -0.206543
close   0.998218  0.999170  0.999283  1.000000 -0.197826
volume -0.193800 -0.182811 -0.206543 -0.197826  1.000000

In [11]:
import os

In [10]:
#path where all data is stored
path=r"C:\Users\Akash Choudhary\Desktop\GitClone 3\Data_Analyst_Unguided_Projects_Portfolio\Time Series Project ( Stock Market case-study )\Data\individual_stocks_5yr"

In [14]:
all_files=os.listdir(path)

In [15]:
all_files

['AAL_data.csv',
 'AAPL_data.csv',
 'AAP_data.csv',
 'ABBV_data.csv',
 'ABC_data.csv',
 'ABT_data.csv',
 'ACN_data.csv',
 'ADBE_data.csv',
 'ADI_data.csv',
 'ADM_data.csv',
 'ADP_data.csv',
 'ADSK_data.csv',
 'ADS_data.csv',
 'AEE_data.csv',
 'AEP_data.csv',
 'AES_data.csv',
 'AET_data.csv',
 'AFL_data.csv',
 'AGN_data.csv',
 'AIG_data.csv',
 'AIV_data.csv',
 'AIZ_data.csv',
 'AJG_data.csv',
 'AKAM_data.csv',
 'ALB_data.csv',
 'ALGN_data.csv',
 'ALK_data.csv',
 'ALLE_data.csv',
 'ALL_data.csv',
 'ALXN_data.csv',
 'AMAT_data.csv',
 'AMD_data.csv',
 'AME_data.csv',
 'AMGN_data.csv',
 'AMG_data.csv',
 'AMP_data.csv',
 'AMT_data.csv',
 'AMZN_data.csv',
 'ANDV_data.csv',
 'ANSS_data.csv',
 'ANTM_data.csv',
 'AON_data.csv',
 'AOS_data.csv',
 'APA_data.csv',
 'APC_data.csv',
 'APD_data.csv',
 'APH_data.csv',
 'APTV_data.csv',
 'ARE_data.csv',
 'ARNC_data.csv',
 'ATVI_data.csv',
 'AVB_data.csv',
 'AVGO_data.csv',
 'AVY_data.csv',
 'AWK_data.csv',
 'AXP_data.csv',
 'AYI_data.csv',
 'AZO_data.csv',
 'A_data.csv',
 'BAC_data.csv',
 'BAX_data.csv',
 'BA_data.csv',
 'BBT_data.csv',
 'BBY_data.csv',
 'BDX_data.csv',
 'BEN_data.csv',
 'BF.B_data.csv',
 'BHF_data.csv',
 'BHGE_data.csv',
 'BIIB_data.csv',
 'BK_data.csv',
 'BLK_data.csv',
 'BLL_data.csv',
 'BMY_data.csv',
 'BRK.B_data.csv',
 'BSX_data.csv',
 'BWA_data.csv',
 'BXP_data.csv',
 'CAG_data.csv',
 'CAH_data.csv',
 'CAT_data.csv',
 'CA_data.csv',
 'CBG_data.csv',
 'CBOE_data.csv',
 'CBS_data.csv',
 'CB_data.csv',
 'CCI_data.csv',
 'CCL_data.csv',
 'CDNS_data.csv',
 'CELG_data.csv',
 'CERN_data.csv',
 'CFG_data.csv',
 'CF_data.csv',
 'CHD_data.csv',
 'CHK_data.csv',
 'CHRW_data.csv',
 'CHTR_data.csv',
 'CINF_data.csv',
 'CI_data.csv',
 'CLX_data.csv',
 'CL_data.csv',
 'CMA_data.csv',
 'CMCSA_data.csv',
 'CME_data.csv',
 'CMG_data.csv',
 'CMI_data.csv',
 'CMS_data.csv',
 'CNC_data.csv',
 'CNP_data.csv',
 'COF_data.csv',
 'COG_data.csv',
 'COL_data.csv',
 'COO_data.csv',
 'COP_data.csv',
 'COST_data.csv',
 'COTY_data.csv',
 'CPB_data.csv',
 'CRM_data.csv',
 'CSCO_data.csv',
 'CSRA_data.csv',
 'CSX_data.csv',
 'CTAS_data.csv',
 'CTL_data.csv',
 'CTSH_data.csv',
 'CTXS_data.csv',
 'CVS_data.csv',
 'CVX_data.csv',
 'CXO_data.csv',
 'C_data.csv',
 'DAL_data.csv',
 'DE_data.csv',
 'DFS_data.csv',
 'DGX_data.csv',
 'DG_data.csv',
 'DHI_data.csv',
 'DHR_data.csv',
 'DISCA_data.csv',
 'DISCK_data.csv',
 'DISH_data.csv',
 'DIS_data.csv',
 'DLR_data.csv',
 'DLTR_data.csv',
 'DOV_data.csv',
 'DPS_data.csv',
 'DRE_data.csv',
 'DRI_data.csv',
 'DTE_data.csv',
 'DUK_data.csv',
 'DVA_data.csv',
 'DVN_data.csv',
 'DWDP_data.csv',
 'DXC_data.csv',
 'D_data.csv',
 'EA_data.csv',
 'EBAY_data.csv',
 'ECL_data.csv',
 'ED_data.csv',
 'EFX_data.csv',
 'EIX_data.csv',
 'EL_data.csv',
 'EMN_data.csv',
 'EMR_data.csv',
 'EOG_data.csv',
 'EQIX_data.csv',
 'EQR_data.csv',
 'EQT_data.csv',
 'ESRX_data.csv',
 'ESS_data.csv',
 'ES_data.csv',
 'ETFC_data.csv',
 'ETN_data.csv',
 'ETR_data.csv',
 'EVHC_data.csv',
 'EW_data.csv',
 'EXC_data.csv',
 'EXPD_data.csv',
 'EXPE_data.csv',
 'EXR_data.csv',
 'FAST_data.csv',
 'FBHS_data.csv',
 'FB_data.csv',
 'FCX_data.csv',
 'FDX_data.csv',
 'FE_data.csv',
 'FFIV_data.csv',
 'FISV_data.csv',
 'FIS_data.csv',
 'FITB_data.csv',
 'FLIR_data.csv',
 'FLR_data.csv',
 'FLS_data.csv',
 'FL_data.csv',
 'FMC_data.csv',
 'FOXA_data.csv',
 'FOX_data.csv',
 'FRT_data.csv',
 'FTI_data.csv',
 'FTV_data.csv',
 'F_data.csv',
 'GD_data.csv',
 'GE_data.csv',
 'GGP_data.csv',
 'GILD_data.csv',
 'GIS_data.csv',
 'GLW_data.csv',
 'GM_data.csv',
 'GOOGL_data.csv',
 'GOOG_data.csv',
 'GPC_data.csv',
 'GPN_data.csv',
 'GPS_data.csv',
 'GRMN_data.csv',
 'GS_data.csv',
 'GT_data.csv',
 'GWW_data.csv',
 'HAL_data.csv',
 'HAS_data.csv',
 'HBAN_data.csv',
 'HBI_data.csv',
 'HCA_data.csv',
 'HCN_data.csv',
 'HCP_data.csv',
 'HD_data.csv',
 'HES_data.csv',
 'HIG_data.csv',
 'HII_data.csv',
 'HLT_data.csv',
 'HOG_data.csv',
 'HOLX_data.csv',
 'HON_data.csv',
 'HPE_data.csv',
 'HPQ_data.csv',
 'HP_data.csv',
 'HRB_data.csv',
 'HRL_data.csv',
 'HRS_data.csv',
 'HSIC_data.csv',
 'HST_data.csv',
 'HSY_data.csv',
 'HUM_data.csv',
 'IBM_data.csv',
 'ICE_data.csv',
 'IDXX_data.csv',
 'IFF_data.csv',
 'ILMN_data.csv',
 'INCY_data.csv',
 'INFO_data.csv',
 'INTC_data.csv',
 'INTU_data.csv',
 'IPG_data.csv',
 'IP_data.csv',
 'IQV_data.csv',
 'IRM_data.csv',
 'IR_data.csv',
 'ISRG_data.csv',
 'ITW_data.csv',
 'IT_data.csv',
 'IVZ_data.csv',
 'JBHT_data.csv',
 'JCI_data.csv',
 'JEC_data.csv',
 'JNJ_data.csv',
 'JNPR_data.csv',
 'JPM_data.csv',
 'JWN_data.csv',
 'KEY_data.csv',
 'KHC_data.csv',
 'KIM_data.csv',
 'KLAC_data.csv',
 'KMB_data.csv',
 'KMI_data.csv',
 'KMX_data.csv',
 'KORS_data.csv',
 'KO_data.csv',
 'KR_data.csv',
 'KSS_data.csv',
 'KSU_data.csv',
 'K_data.csv',
 'LB_data.csv',
 'LEG_data.csv',
 'LEN_data.csv',
 'LH_data.csv',
 'LKQ_data.csv',
 'LLL_data.csv',
 'LLY_data.csv',
 'LMT_data.csv',
 'LNC_data.csv',
 'LNT_data.csv',
 'LOW_data.csv',
 'LRCX_data.csv',
 'LUK_data.csv',
 'LUV_data.csv',
 'LYB_data.csv',
 'L_data.csv',
 'MAA_data.csv',
 'MAC_data.csv',
 'MAR_data.csv',
 'MAS_data.csv',
 'MAT_data.csv',
 'MA_data.csv',
 'MCD_data.csv',
 'MCHP_data.csv',
 'MCK_data.csv',
 'MCO_data.csv',
 'MDLZ_data.csv',
 'MDT_data.csv',
 'MET_data.csv',
 'MGM_data.csv',
 'MHK_data.csv',
 'MKC_data.csv',
 'MLM_data.csv',
 'MMC_data.csv',
 'MMM_data.csv',
 'MNST_data.csv',
 'MON_data.csv',
 'MOS_data.csv',
 'MO_data.csv',
 'MPC_data.csv',
 'MRK_data.csv',
 'MRO_data.csv',
 'MSFT_data.csv',
 'MSI_data.csv',
 'MS_data.csv',
 'MTB_data.csv',
 'MTD_data.csv',
 'MU_data.csv',
 'MYL_data.csv',
 'M_data.csv',
 'NAVI_data.csv',
 'NBL_data.csv',
 'NCLH_data.csv',
 'NDAQ_data.csv',
 'NEE_data.csv',
 'NEM_data.csv',
 'NFLX_data.csv',
 'NFX_data.csv',
 'NI_data.csv',
 'NKE_data.csv',
 'NLSN_data.csv',
 'NOC_data.csv',
 'NOV_data.csv',
 'NRG_data.csv',
 'NSC_data.csv',
 'NTAP_data.csv',
 'NTRS_data.csv',
 'NUE_data.csv',
 'NVDA_data.csv',
 'NWL_data.csv',
 'NWSA_data.csv',
 'NWS_data.csv',
 'OKE_data.csv',
 'OMC_data.csv',
 'ORCL_data.csv',
 'ORLY_data.csv',
 'OXY_data.csv',
 'O_data.csv',
 'PAYX_data.csv',
 'PBCT_data.csv',
 'PCAR_data.csv',
 'PCG_data.csv',
 'PCLN_data.csv',
 'PDCO_data.csv',
 'PEG_data.csv',
 'PEP_data.csv',
 'PFE_data.csv',
 'PFG_data.csv',
 'PGR_data.csv',
 'PG_data.csv',
 'PHM_data.csv',
 'PH_data.csv',
 'PKG_data.csv',
 'PKI_data.csv',
 'PLD_data.csv',
 'PM_data.csv',
 'PNC_data.csv',
 'PNR_data.csv',
 'PNW_data.csv',
 'PPG_data.csv',
 'PPL_data.csv',
 'PRGO_data.csv',
 'PRU_data.csv',
 'PSA_data.csv',
 'PSX_data.csv',
 'PVH_data.csv',
 'PWR_data.csv',
 'PXD_data.csv',
 'PX_data.csv',
 'PYPL_data.csv',
 'QCOM_data.csv',
 'QRVO_data.csv',
 'RCL_data.csv',
 'REGN_data.csv',
 'REG_data.csv',
 'RE_data.csv',
 'RF_data.csv',
 'RHI_data.csv',
 'RHT_data.csv',
 'RJF_data.csv',
 'RL_data.csv',
 'RMD_data.csv',
 'ROK_data.csv',
 'ROP_data.csv',
 'ROST_data.csv',
 'RRC_data.csv',
 'RSG_data.csv',
 'RTN_data.csv',
 'SBAC_data.csv',
 'SBUX_data.csv',
 'SCG_data.csv',
 'SCHW_data.csv',
 'SEE_data.csv',
 'SHW_data.csv',
 'SIG_data.csv',
 'SJM_data.csv',
 'SLB_data.csv',
 'SLG_data.csv',
 'SNA_data.csv',
 'SNI_data.csv',
 'SNPS_data.csv',
 'SO_data.csv',
 'SPGI_data.csv',
 'SPG_data.csv',
 'SRCL_data.csv',
 'SRE_data.csv',
 'STI_data.csv',
 'STT_data.csv',
 'STX_data.csv',
 'STZ_data.csv',
 'SWKS_data.csv',
 'SWK_data.csv',
 'SYF_data.csv',
 'SYK_data.csv',
 'SYMC_data.csv',
 'SYY_data.csv',
 'TAP_data.csv',
 'TDG_data.csv',
 'TEL_data.csv',
 'TGT_data.csv',
 'TIF_data.csv',
 'TJX_data.csv',
 'TMK_data.csv',
 'TMO_data.csv',
 'TPR_data.csv',
 'TRIP_data.csv',
 'TROW_data.csv',
 'TRV_data.csv',
 'TSCO_data.csv',
 'TSN_data.csv',
 'TSS_data.csv',
 'TWX_data(1).csv',
 'TWX_data.csv',
 'TXN_data(1).csv',
 'TXN_data.csv',
 'TXT_data(1).csv',
 'TXT_data.csv',
 'T_data(1).csv',
 'T_data.csv',
 'UAA_data.csv',
 'UAL_data.csv',
 'UA_data.csv',
 'UDR_data.csv',
 'UHS_data.csv',
 'ULTA_data.csv',
 'UNH_data.csv',
 'UNM_data.csv',
 'UNP_data.csv',
 'UPS_data.csv',
 'URI_data.csv',
 'USB_data.csv',
 'UTX_data.csv',
 'VAR_data.csv',
 'VFC_data.csv',
 'VIAB_data.csv',
 'VLO_data.csv',
 'VMC_data.csv',
 'VNO_data.csv',
 'VRSK_data.csv',
 'VRSN_data.csv',
 'VRTX_data.csv',
 'VTR_data.csv',
 'VZ_data.csv',
 'V_data.csv',
 'WAT_data.csv',
 'WBA_data.csv',
 'WDC_data.csv',
 'WEC_data.csv',
 'WFC_data.csv',
 'WHR_data.csv',
 'WLTW_data.csv',
 'WMB_data.csv',
 'WMT_data.csv',
 'WM_data.csv',
 'WRK_data.csv',
 'WU_data.csv',
 'WYNN_data.csv',
 'WYN_data.csv',
 'WY_data.csv',
 'XEC_data.csv',
 'XEL_data.csv',
 'XLNX_data.csv',
 'XL_data.csv',
 'XOM_data.csv',
 'XRAY_data.csv',
 'XRX_data.csv',
 'XYL_data.csv',
 'YUM_data.csv',
 'ZBH_data.csv',
 'ZION_data.csv',
 'ZTS_data.csv']

In [18]:
full_df=pd.DataFrame()
for file in all_files:
    current_df=pd.read_csv(path+'/'+file)
    full_df=pd.concat([full_df,current_df])

In [19]:
full_df.size

4368532

In [22]:
full_df.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL